<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Соревнования</title>
</head>
<body>
<a href="/logout">Logout</a>
<h3>
    <span>Здравствуйте, </span>
    <span th:text="${jury.getLastName() + ' ' + jury.getFirstName()}"></span>
</h3>
<br>
<div th:each = "competition : ${jury.getCompetitionCategories()}" style="border: 2px dashed; padding: 10px;">
    <span th:text="${competition.getCategory().getName()}"></span>
    <br>
    <span th:text="${competition.getDateTime()}"></span>
    <br>
    <form th:method="get" th:action="@{/jury/competition/{id}/edit_points (id = ${competition.getId()})}">
        <div><input type="submit" value="Выставить баллы"/></div>
    </form>
</div>
</body>
</html>